Repository graphql-hive/graphql-inspector, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/cli, area/core, area/github, area/load, area/ui

fix(release): configure trusted publishing
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
  .node-version
Labels: none

fixes
  .github/workflows/release.yml
  .node-version
  .nvmrc
  package.json
Labels: none

fix prettier issue with node23
  .github/workflows/release.yml
  prettier.config.cjs
Labels: none

added test changeset
  .changeset/popular-carrots-remain.md
Labels: none

maybe maybe
  .github/workflows/release.yml
Labels: none

try 24
  .github/workflows/release.yml
  .node-version
Labels: none

try this
  .github/workflows/release.yml
Labels: none

ok
  .github/workflows/release.yml
Labels: none

fix other shit
  prettier.config.cjs
Labels: none

remove test file
  .changeset/popular-carrots-remain.md
Labels: none

fix(release): configure trusted publishing, update engines, pnpm11 (#2966)
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
  .node-version
  .nvmrc
  package.json
  prettier.config.cjs
Labels: none

reuse default value computation + restore rpevious formatting of default values
  packages/core/__tests__/diff/argument.test.ts
  packages/core/__tests__/diff/directive.test.ts
  packages/core/__tests__/diff/input.test.ts
  packages/core/__tests__/diff/schema.test.ts
  packages/core/src/diff/argument.ts
  packages/core/src/diff/changes/argument.ts
  packages/core/src/diff/changes/directive.ts
  packages/core/src/diff/changes/field.ts
  packages/core/src/diff/changes/input.ts
  packages/core/src/diff/directive.ts
  packages/core/src/diff/input.ts
  packages/core/src/utils/graphql.ts
Labels: area/core

esm my ass
  vite.config.ts
Labels: none

lets run on all supported versions :eyes:
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: none

changeset
  .changeset/small-eagles-sort.md
Labels: none

ay
  package.json
  pnpm-lock.yaml
Labels: none

fix docker
  Dockerfile
Labels: none

drop things again
  .changeset/small-eagles-sort.md
  .github/workflows/ci.yml
  package.json
  packages/ci/package.json
  packages/cli/package.json
  packages/commands/audit/package.json
  packages/commands/commands/package.json
  packages/commands/coverage/package.json
  packages/commands/diff/package.json
  packages/commands/docs/package.json
  packages/commands/introspect/package.json
  packages/commands/serve/package.json
  packages/commands/similar/package.json
  packages/commands/validate/package.json
  packages/compare-changes/package.json
  packages/config/package.json
  packages/core/package.json
  packages/loaders/code/package.json
  packages/loaders/git/package.json
  packages/loaders/github/package.json
  packages/loaders/graphql/package.json
  packages/loaders/json/package.json
  packages/loaders/loaders/package.json
  packages/loaders/url/package.json
  packages/patch/package.json
  pnpm-lock.yaml
Labels: area/cli, area/core

fix(deps): use workspace protocol for internal peer dependencies
  packages/commands/commands/package.json
  packages/loaders/loaders/package.json
  pnpm-lock.yaml
Labels: none

fix(deps): use workspace protocol for internal peer dependencies (#2968)
  packages/commands/commands/package.json
  packages/loaders/loaders/package.json
  pnpm-lock.yaml
Labels: none

fix repo links
  package.json
  packages/action/package.json
  packages/ci/package.json
  packages/cli/package.json
  packages/commands/audit/package.json
  packages/commands/commands/package.json
  packages/commands/diff/package.json
  packages/commands/docs/package.json
  packages/commands/introspect/package.json
  packages/commands/serve/package.json
  packages/commands/similar/package.json
  packages/commands/validate/package.json
  packages/compare-changes/package.json
  packages/config/package.json
  packages/core/package.json
  packages/loaders/code/package.json
  packages/loaders/git/package.json
  packages/loaders/github/package.json
  packages/loaders/graphql/package.json
  packages/loaders/json/package.json
  packages/loaders/loaders/package.json
  packages/loaders/url/package.json
  packages/logger/package.json
  packages/patch/package.json
Labels: area/cli, area/core

fix repo links (#2970)
  package.json
  packages/action/package.json
  packages/ci/package.json
  packages/cli/package.json
  packages/commands/audit/package.json
  packages/commands/commands/package.json
  packages/commands/diff/package.json
  packages/commands/docs/package.json
  packages/commands/introspect/package.json
  packages/commands/serve/package.json
  packages/commands/similar/package.json
  packages/commands/validate/package.json
  packages/compare-changes/package.json
  packages/config/package.json
  packages/core/package.json
  packages/loaders/code/package.json
  packages/loaders/git/package.json
  packages/loaders/github/package.json
  packages/loaders/graphql/package.json
  packages/loaders/json/package.json
  packages/loaders/loaders/package.json
  packages/loaders/url/package.json
  packages/logger/package.json
  packages/patch/package.json
Labels: area/cli, area/core

lol
  packages/commands/coverage/package.json
Labels: none

lol (#2971)
  packages/commands/coverage/package.json
Labels: none

Dummy
  package.json
Labels: none

chore: bump pnpm to 11.27.1
  .github/workflows/release.yml
  Dockerfile
  package.json
  pnpm-workspace.yaml
Labels: none

test(action): annotate change levels in all-levels schema fixture
  packages/action/__tests__/run.test.ts
Labels: none

Dummy release
  .changeset/five-masks-shout.md
  packages/cli/package.json
Labels: area/cli

Revert "Dummy release"
  .changeset/five-masks-shout.md
  packages/cli/package.json
Labels: area/cli

test: reproduce #2955 — simplifyChanges drops breaking change when field also gains a description
  packages/core/__tests__/diff/rules/simplify-changes.test.ts
Labels: area/core

Add changeset for action outputs and create-action-check input
  .changeset/rich-peas-float.md
Labels: none

test: cover simplifyChanges annotation and ordering cases (#2955)
  packages/core/__tests__/diff/rules/simplify-changes.test.ts
Labels: area/core

fix: keep changes that simplifyChanges wrongly dropped under descriptions and deprecations (#2955)
  .changeset/simplify-changes-keep-sibling-changes.md
  packages/core/src/diff/rules/simplify-changes.ts
Labels: area/core

chore: reference test tsconfig from tsconfig.json so editors pick up test types
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Labels: none

chore: scope vitest/globals types to tsconfig.test.json
  packages/testing/src/setup-file.ts
  tsconfig.json
  tsconfig.test.json
Labels: none

chore: exclude vitest setup file from tsconfig.json instead of importing expect
  packages/testing/src/setup-file.ts
  tsconfig.json
Labels: none

chore: bump typescript to 5.9.3
  package.json
  pnpm-lock.yaml
Labels: none

chore: reference test tsconfig from tsconfig.json so editors pick up test types
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Labels: none

chore: scope vitest/globals types to tsconfig.test.json
  packages/testing/src/setup-file.ts
  tsconfig.json
  tsconfig.test.json
Labels: none

chore: exclude vitest setup file from tsconfig.json instead of importing expect
  packages/testing/src/setup-file.ts
  tsconfig.json
Labels: none

.github/labeler.yml:

area/api: packages/api/**
area/cli: packages/cli/**
area/core: packages/core/**
area/github: 
  - packages/github/**
  - packages/github-actions/**
area/load: packages/load/**
area/ui: packages/ui/**
