Repository graphql-hive/graphql-inspector, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/cli, area/core, area/github, area/load, area/ui

.github/labeler.yml:

area/api: packages/api/**
area/cli: packages/cli/**
area/core: packages/core/**
area/github: 
  - packages/github/**
  - packages/github-actions/**
area/load: packages/load/**
area/ui: packages/ui/**

Go
  vite.config.ts
Labels: none

Bump actions
  packages/action/src/checks.ts
  packages/action/src/files.ts
  packages/action/src/run.ts
Labels: none

Prettier
  packages/action/src/checks.ts
Labels: none

Fix tests
  graphql.schema.json
  packages/action/__tests__/run.test.ts
Labels: none

Fix build
  .eslintrc.cjs
  tsconfig.build.json
  tsconfig.json
Labels: none

Fix
  graphql.schema.json
  tsconfig.json
  tsconfig.test.json
  vite.config.ts
Labels: none

Prettier
  vite.config.ts
Labels: none

input field added for non-null type with default value is non-breaking
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/input.ts
Labels: area/core

update test
  packages/core/__tests__/diff/input.test.ts
Labels: area/core

add default value suffix in message and update tests.
  packages/core/__tests__/diff/input.test.ts
  packages/core/src/diff/changes/input.ts
Labels: area/core

Fix validate command not logging filename with only deprecations
  packages/commands/validate/__tests__/validate-command.test.ts
  packages/commands/validate/src/index.ts
Labels: none

Add breaking/dangerous/safe messages to action output
  action.yml
  action/index.js
  packages/action/helpers/types.ts
  packages/action/helpers/utils.ts
  packages/action/src/run.ts
  website/src/pages/docs/products/action.mdx
Labels: none

[APPENG-1215] Add the function to handle directive usage changed type changes
  packages/cli/src/index.ts
  packages/core/src/diff/argument.ts
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/directive-usage-arugment.ts
  packages/core/src/diff/changes/directive-usage.ts
  packages/core/src/diff/directive.ts
  packages/core/src/diff/enum.ts
  packages/core/src/diff/field.ts
  packages/core/src/diff/input.ts
  packages/core/src/diff/interface.ts
  packages/core/src/diff/object.ts
  packages/core/src/diff/scalar.ts
  packages/core/src/diff/schema.ts
  packages/core/src/diff/union.ts
Labels: area/cli, area/core

Update website/src/pages/docs/products/action.mdx
  website/src/pages/docs/products/action.mdx
Labels: none

Fix bad introspection result for an endpoint URL string
  packages/action/__tests__/utils.test.ts
  packages/action/helpers/utils.ts
Labels: none

Fix styling
  packages/action/__tests__/utils.test.ts
  packages/action/helpers/utils.ts
Labels: none

Build action
  action/index.js
Labels: none

major: diff includes all nested changes when a node is added
  .changeset/seven-jars-yell.md
  packages/core/__tests__/diff/directive-usage.test.ts
  packages/core/__tests__/diff/enum.test.ts
  packages/core/__tests__/diff/input.test.ts
  packages/core/__tests__/diff/interface.test.ts
  packages/core/__tests__/diff/object.test.ts
  packages/core/__tests__/diff/schema.test.ts
  packages/core/src/diff/argument.ts
  packages/core/src/diff/changes/argument.ts
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/directive-usage.ts
  packages/core/src/diff/changes/directive.ts
  packages/core/src/diff/changes/enum.ts
  packages/core/src/diff/changes/field.ts
  packages/core/src/diff/changes/input.ts
  packages/core/src/diff/changes/object.ts
  packages/core/src/diff/changes/type.ts
  packages/core/src/diff/changes/union.ts
  packages/core/src/diff/directive.ts
  packages/core/src/diff/enum.ts
  packages/core/src/diff/field.ts
  packages/core/src/diff/input.ts
  packages/core/src/diff/interface.ts
  packages/core/src/diff/object.ts
  packages/core/src/diff/scalar.ts
  packages/core/src/diff/schema.ts
  packages/core/src/diff/union.ts
  packages/core/src/utils/compare.ts
  packages/core/src/utils/graphql.ts
Labels: area/core

Fix directive argument changes to match others
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/directive.ts
  packages/core/src/diff/changes/input.ts
  packages/core/src/diff/directive.ts
Labels: area/core

Add rule to ignore nested additions
  packages/core/__tests__/diff/rules/ignore-nested-additions.test.ts
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/field.ts
  packages/core/src/diff/field.ts
  packages/core/src/diff/rules/ignore-nested-additions.ts
  packages/core/src/diff/rules/index.ts
Labels: area/core

Add a field test
  packages/core/__tests__/diff/rules/ignore-nested-additions.test.ts
Labels: area/core

Fix parent path; add more tests
  packages/core/__tests__/diff/rules/ignore-nested-additions.test.ts
  packages/core/src/diff/rules/ignore-nested-additions.ts
Labels: area/core

TypeChanged changes
  packages/core/src/diff/changes/type.ts
  packages/core/src/diff/schema.ts
Labels: area/core

prettier
  packages/core/__tests__/diff/rules/ignore-nested-additions.test.ts
  packages/core/src/diff/rules/ignore-nested-additions.ts
Labels: area/core

Add more meta to changes
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/directive.ts
  packages/core/src/diff/changes/enum.ts
Labels: area/core

Add directive usage; add tests
  packages/core/__tests__/diff/directive.test.ts
  packages/core/__tests__/diff/enum.test.ts
  packages/core/__tests__/diff/schema.test.ts
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/directive-usage.ts
  packages/core/src/diff/changes/directive.ts
  packages/core/src/diff/changes/enum.ts
  packages/core/src/diff/changes/field.ts
  packages/core/src/diff/enum.ts
  packages/core/src/diff/field.ts
  packages/core/src/index.ts
  packages/patch/package.json
  packages/patch/src/__tests__/directive-usage.test.ts
  packages/patch/src/__tests__/directives.test.ts
  packages/patch/src/__tests__/enum.test.ts
  packages/patch/src/__tests__/fields.test.ts
  packages/patch/src/__tests__/inputs.test.ts
  packages/patch/src/__tests__/interfaces.test.ts
  packages/patch/src/__tests__/types.test.ts
  packages/patch/src/__tests__/unions.test.ts
  packages/patch/src/__tests__/utils.ts
  packages/patch/src/errors.ts
  packages/patch/src/index.ts
  packages/patch/src/node-templates.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/patches/interfaces.ts
  packages/patch/src/patches/schema.ts
  packages/patch/src/patches/types.ts
  packages/patch/src/patches/unions.ts
  packages/patch/src/types.ts
  packages/patch/src/utils.ts
  pnpm-lock.yaml
  tsconfig.test.json
  vite.config.ts
Labels: area/core

Improve path handling
  packages/core/src/diff/changes/change.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/patches/interfaces.ts
  packages/patch/src/patches/types.ts
Labels: area/core

WIP: Print test schemas with directives.
  packages/core/src/diff/changes/change.ts
  packages/patch/package.json
  packages/patch/src/__tests__/directive-usage.test.ts
  packages/patch/src/__tests__/utils.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/interfaces.ts
  packages/patch/src/patches/schema.ts
  packages/patch/src/patches/types.ts
  packages/patch/src/patches/unions.ts
  packages/patch/src/types.ts
  packages/patch/src/utils.ts
  pnpm-lock.yaml
Labels: area/core

Support all directive usage cases
  packages/core/__tests__/diff/directive-usage.test.ts
  packages/core/__tests__/diff/enum.test.ts
  packages/core/__tests__/diff/rules/ignore-nested-additions.test.ts
  packages/core/__tests__/diff/schema.test.ts
  packages/core/src/diff/argument.ts
  packages/core/src/diff/changes/change.ts
  packages/core/src/diff/changes/directive-usage.ts
  packages/core/src/diff/changes/enum.ts
  packages/core/src/diff/changes/field.ts
  packages/core/src/diff/enum.ts
  packages/core/src/diff/field.ts
  packages/core/src/diff/input.ts
  packages/core/src/diff/interface.ts
  packages/core/src/diff/object.ts
  packages/core/src/diff/rules/ignore-nested-additions.ts
  packages/core/src/diff/scalar.ts
  packages/core/src/diff/schema.ts
  packages/core/src/diff/union.ts
  packages/patch/package.json
  packages/patch/src/__tests__/fields.test.ts
  packages/patch/src/__tests__/utils.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/types.ts
  packages/patch/src/utils.ts
Labels: area/core

Remove unnecessary import
  packages/core/src/diff/enum.ts
Labels: area/core

Same
  packages/core/src/diff/field.ts
Labels: area/core

Simplify errors; add readme
  packages/patch/src/README.md
  packages/patch/src/errors.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/patches/interfaces.ts
  packages/patch/src/patches/schema.ts
  packages/patch/src/patches/types.ts
  packages/patch/src/patches/unions.ts
  packages/patch/src/types.ts
  pnpm-lock.yaml
Labels: none

Remove redundant types; patch more descriptions and defaults etc
  packages/core/src/diff/changes/change.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/utils.ts
Labels: area/core

Prettier
  packages/patch/src/index.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/utils.ts
Labels: none

Support more changes
  packages/patch/src/__tests__/directives.test.ts
  packages/patch/src/__tests__/fields.test.ts
  packages/patch/src/__tests__/inputs.test.ts
  packages/patch/src/errors.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/utils.ts
Labels: none

fix prettier etc
  packages/patch/src/__tests__/inputs.test.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/inputs.ts
Labels: none

Improve error handling and error types
  packages/patch/src/README.md
  packages/patch/src/errors.ts
  packages/patch/src/index.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/patches/interfaces.ts
  packages/patch/src/patches/types.ts
  packages/patch/src/types.ts
  packages/patch/src/utils.ts
Labels: none

tweaking errors
  packages/patch/src/errors.ts
  packages/patch/src/patches/directive-usages.ts
  packages/patch/src/patches/directives.ts
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/utils.ts
Labels: none

More error fixes
  packages/patch/src/patches/enum.ts
  packages/patch/src/patches/fields.ts
  packages/patch/src/patches/inputs.ts
  packages/patch/src/patches/interfaces.ts
  packages/patch/src/patches/types.ts
Labels: none

Export lower level methods
  packages/patch/src/index.ts
Labels: none
